# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
eggs-info/
pip-wheel-metadata/
__pypackages__/
*.egg-info/
*.egg

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/
env.bak/
venv.bak/

# Conda environment files
.conda/

# IDE/editor directories
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints/

# Python-specific
*.py[cod]
*.pyo
*.pyd
*.pyo

# Environment variables
.env

# Pytest
.cache/

# mypy
.mypy_cache/

# Type annotations
.typings/

# Coverage reports
.coverage
.coverage.*
*.cover
*.py,cover
nosetests.xml
coverage.xml
*.coveragerc

# Logs
*.log

# Database files
*.sqlite3
*.db

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini